<h1>Posts Index, Yo.</h1>

<%= link_to "Add Post", new_post_path %>

<ul class="posts-list">
  <%- @posts.each do |post| -%>
    <li>
      <%= link_to post.title, post_path(post) %>
    </li>
  <%- end -%>
</ul>
